<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <bean id="userDaoImpl" class = "com.spring.test.UserDaoImpl"  scope="singleton"/>
     <bean id="userDaoImpl2" class = "com.spring.test.UserDaoFactory" factory-method = "getUserDao"  scope="prototype"/>
      <bean id="factory" class="com.spring.test.UserDaoFactory2"/>
 <bean id="userDaoImpl3" factory-bean="factory" factory-method="getUserDao"/>
 
 <bean id="userService" class="com.spring.test.UserServiceBean">
    <property name="userID" value="1"/>
    <property name="userName" value="张三"/>
    <property name="userDao" ref="userDaoImpl"/>
    <property name="hobbies">
        <list>
            <value>羽毛球</value>
            <value>看电影</value>
            <value>弹吉他</value>
        </list>
    </property>
    <property name="scores">
        <map>
            <entry key="数据结构" value="90"/>
            <entry key="编译原理" value="85"/>
            <entry key="离散数学" value="82"/>
        </map>
    </property>
</bean>
</beans>


